body {
  background-color: #c4d1df;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

section {
  margin: 5px;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  width: 200px;
}
